*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.header{
    height: 70px;
    background-color: whitesmoke;
    
}

.header h1{
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
  
}


.header h1 a:hover{
    color: red;
}

.header ul{
    float: right;
}

.header ul li{
    
    padding: 24px;
    display: inline-block;
}

.header ul li a:hover{
    color: red;
}

a{
    text-decoration: none;
}

.menu{
    width: 90%;
    margin: 0px auto;
   
}

.menu:: after{
    content: '';
    display: block;
    clear: both;
}

.menu img{
    width: 100%;
    height: 300px;
}

#content{
    background-color: royalblue;
    padding: 50px 0;
}
.profil img{
    width: 150px;
    height: 150px;
    margin-left: 95px;
    border-radius: 10px;
    box-shadow:0 3px 5px royalblue;
    margin-bottom: 10px;
}
.profil h2{
    margin-left: 95px;
    color: white;
    margin-bottom: 10px;
}
.profil p{
    color: white;
    margin-left: 95px;
}

.about p{
    text-align: justify;
   text-indent: 30px;
   line-height: 25px;
   margin-bottom: 15px;
}
.about h3{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
}

.about h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 1px;
    background-color:gray;
    margin-left: 595px;
    margin-bottom: 170px;
}
.about h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 4px;
    background-color:red;
    margin-left: 636px;
    margin-bottom: 170px;
}

#content3{
    background-color: lightgray;
}
.skill h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 1px;
    background-color:gray;
    margin-left: 610px;
    margin-bottom: -70px;
}
.skill h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 4px;
    background-color:red;
    margin-left: 653px;
    margin-bottom: -70px;
}

.skill .bar{
    height: 30px;
    background-color: white;
    border: 1px solid;
    margin: 5px 0 20px 0;
}

.bar .nilaihtml{
    height: 30px;
    width: 50%;
    background-color: blue;
    display: inline-block;
    color: white;
    text-align: center;
}

.bar .nilaicss{
    height: 30px;
    width: 40%;
    background-color: blue;
    display: inline-block;
    color: white;
    text-align: center;
}

.bar .nilaijavascript{
    height: 30px;
    width: 30%;
    background-color: blue;
    display: inline-block;
    color: white;
    text-align: center;
}

.bar .nilaiMSWord{
    height: 30px;
    width: 60%;
    background-color: blue;
    display: inline-block;
    color: white;
    text-align: center;
}

.about h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 1px;
    background-color:gray;
    margin-left: 595px;
    margin-bottom: 170px;
}
.about h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 4px;
    background-color:red;
    margin-left: 636px;
    margin-bottom: 170px;
}

#footer{
    background-color:dimgray;
}
.contact h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 1px;
    background-color:gray;
    margin-left: 612px;
    margin-bottom: -440px;
}
.contact h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 4px;
    background-color:red;
    margin-left: 653px;
    margin-bottom: -440px;
}

 .kolom1{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 30px ;
    margin-bottom: 30px;
}

.kolom2{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.kolom3{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 30px ;
    margin-bottom: 30px;
}

.footer2{
    background-color: rgb(32, 29, 29);
    text-align: center;
    padding: 30px;
    color: white;

}

  
 