body{
    background-image: url(gambar3.jpg);
    background-size: cover;
}

h1{
    margin-top: 150px;
    color: white;
}

.form{
    margin-left: 150px;
}

td{
    color: white;
}

a{
    text-decoration: none;
    border:1px ridge;
    border-color: white;
    margin-top: 10px;
    color:white;
    padding:initial;
    background-color: skyblue;
}

.bukupengunjung a{
   margin-left: 600px;
}

.bukuanggota a{
    margin-left: 590px;
}

