*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(gambar3.jpg);
    background-size: cover;
}

.header{
    height: 50px;
}

.header h1{
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
    color: chartreuse;
}


.header h1 a:hover{
    color: red;
}

.header ul{
    float: right;
}

.header ul li{
    
    padding: 24px;
    display: inline-block;
}

.header ul li a:hover{
    color: red;
}
.menu{
    width: 90%;
    margin: 0px auto;
   
}

.menu:: after{
    content: '';
    display: block;
    clear: both;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    border-color: rgb(255, 255, 255);
}

.foto img{
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 160px;
    margin-top: 30px;
    border-radius: 10px;
}

td{
    color: white;
    font-weight: bold;
}

.biodata {
    margin-top: 70px;
    float: right;
    margin-right: 50px;
    text-transform: uppercase;
}

.perkenalan p{
    padding-top: 300px;
    color: white;
    margin-left: 10px;
}


.skills{
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 10px;

   }

.skill-bar{
    text-align: left;
    padding: 10px;
    font-size: 12px;
    
    

   }
   .html{
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    background-color: #22eb72
   }
   .css{
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    background-color: #1E80FA
   }
   .js{
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    background-color: #DBE223
   }
   .php{
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    background-color: #E93232
   }
 label{
     color: white;
 }

 #content4 h3{
    margin-left: 10px;
    padding-top: 20px;
    color: white;
}


 .kolom1{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 30px ;
    margin-bottom: 30px;
    color: white;
}

.kolom2{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.kolom3{
    display: inline-block;
    width: 30%;
    text-align: center;
   padding: 30px;
    margin-bottom: 30px;
    color: white;
}


.footer2 small{
    text-align: center;
    padding: 30px;
    color: white;
}
